{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<form method="POST" action="{% url 'accounts:login' %}">
  {% csrf_token %}

  {% if request.GET.next %}
  <input type="hidden" name="next" value={{ request.GET.next }} />
  {% endif %}

  Username:
  <br />
  <input type="text" name="username" />
  <br />
  Password:
  <br />
  <input type="password" name="password" />
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Login">
</form>

{% endblock %}
